websocket/target/
websocket/.mvn/wrapper/maven-wrapper.jar

# Ignore IDE files
.idea/
*.iml
.vscode/
.classpath
.project
.settings/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore Git
.git/
.gitignore

# Ignore other
README.md